/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__menu{ /*centralizar*/
      width: 328px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  
    .about__info{
      grid-template-columns: repeat(3, 140px);
      justify-content: center;
    }
  
    .about__description{
      padding: 0 5rem;
    }
  
    .skills__container{
      justify-content: center;
    }
  
    .skills__content{
      padding: 2rem 4rem;
    }
  
    .services__container{
      grid-template-columns: repeat(2, 160px);
      justify-content: center;
    }
    .services__modal-content{
      width: 500px;
      padding: 4.5rem 2.5rem 2.5rem;
    }
    .services__modal-description{
      padding: 0 3.5rem;
    }
  
    .work__container{
      justify-content: center;
    }
    .work__img{
      width: 295px;
    }
  
    .contact__info{
      grid-template-columns: 300px;
      justify-content: center;
    }
    .contact__form{
      width: 360px;
      margin: 0 auto;
    }
  }
  